# ============================================
# 🧠 LLM-Ontology-Population - .gitignore
# ============================================

# --- Python cache and temporary files ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.pdb
*.tmp
*.log
*.out
*.bak
*.swp
*.err

# --- Some Folders ---
slurm/
tetra_env/
__pycache__/
*.egg-info/
.ipynb_checkpoints/

# --- Large or irrelevant results ---
# outputs_results_llama3_2-3b/
# outputs_results_llama3_3-70b_512/
outputs_results_llama3_3-70b_1024/
# 
outputs_results_Qwen3_3-72b_1024/

# --- Notebooks checkpoints ---
.ipynb_checkpoints/

# --- Données lourdes ou sensibles ---
# test_data/
dataset.json

# --- Virtual environment ---
venv/
env/
.venv/
tetra_env/

# --- System files and IDE ---
.DS_Store
.vscode/

# --- Logs and caches ---
*.log
*.tmp
*.cache/
.cache/
transformers_cache/
~/.cache/huggingface/

# --- Checkpoints and models wights ---
*.pt
*.pth
*.bin
*.ckpt
*.safetensors
*.tar.gz
*.h5
*.npz
*.pkl

